body {
background: #BDC581;

color: black;


margin: 15px auto;
}
h1{font-size: 45px;
font-family: arial black;
color: blue;
}
h2{font-size: 20px;
font-family: arial black;
}
header ,section ,footer, article,ul,p {
border: 1px solid gray}
header{
}